<%- include('template/header') %>


<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
          <h2 class="mb-3 bread">Objective</h2>
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Causes <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center intro">
            <div class="col-md-8 text-center">
                <h1 class="heading"> <span>Objectives</span>  </h1>
                <p>To work for the social development of underprivileged people, groups and communities in India;</p>
                <p>To impart quality and affordable education to disadvantaged groups especially to students from rural, semi-urban and urban slum areas;</p>
                <p>To encourage healthcare development and health promotion;</p>
                <p>To create awareness among masses about the changing climatic conditions and remedial measures to cope up with this challenge by adopting innovative best practices;</p>
                <p>To assist government efforts in skill development of young as well as elder people to make them self-reliant and job providers;</p>
                <p>To assist in the process of social integration and personal realisation of underprivileged children, young people, adults and families;</p>
                <p>To encourage and popularise voluntary works and social responsibilities among the different stakeholders of our society.</p>
            </div>
        </div>
    </div>
  </section>

     <!-- <section class="ftco-section ftco-causes">
      <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div class="causes causes-2 text-center ftco-animate">
                  <div class="img" style="background-image: url(images/causes-1.jpg);"></div>
                  <h2>Clean water for South Sudan</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <div class="goal">
                      <p><span>$3,800</span> to go</p>
                      <div class="progress" style="height:20px">
                                <div class="progress-bar progress-bar-striped" style="width:70%; height:20px">70%</div>
                              </div>
                          </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="causes causes-2 text-center ftco-animate">
                  <div class="img" style="background-image: url(images/causes-2.jpg);"></div>
                  <h2>Home for Asias Child</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <div class="goal">
                      <p><span>$3,800</span> to go</p>
                      <div class="progress" style="height:20px">
                                <div class="progress-bar progress-bar-striped" style="width:75%; height:20px">75%</div>
                              </div>
                          </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="causes causes-2 text-center ftco-animate">
                  <div class="img" style="background-image: url(images/causes-3.jpg);"></div>
                  <h2>Education for Asian School</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <div class="goal">
                      <p><span>$3,800</span> to go</p>
                      <div class="progress" style="height:20px">
                                <div class="progress-bar progress-bar-striped" style="width:40%; height:20px">40%</div>
                              </div>
                          </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="causes causes-2 text-center ftco-animate">
                  <div class="img" style="background-image: url(images/causes-4.jpg);"></div>
                  <h2>Clean water for South Sudan</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <div class="goal">
                      <p><span>$3,800</span> to go</p>
                      <div class="progress" style="height:20px">
                                <div class="progress-bar progress-bar-striped" style="width:70%; height:20px">70%</div>
                              </div>
                          </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="causes causes-2 text-center ftco-animate">
                  <div class="img" style="background-image: url(images/causes-5.jpg);"></div>
                  <h2>Home for Asias Child</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <div class="goal">
                      <p><span>$3,800</span> to go</p>
                      <div class="progress" style="height:20px">
                                <div class="progress-bar progress-bar-striped" style="width:75%; height:20px">75%</div>
                              </div>
                          </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="causes causes-2 text-center ftco-animate">
                  <div class="img" style="background-image: url(images/causes-6.jpg);"></div>
                  <h2>Education for Asian School</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <div class="goal">
                      <p><span>$3,800</span> to go</p>
                      <div class="progress" style="height:20px">
                                <div class="progress-bar progress-bar-striped" style="width:40%; height:20px">40%</div>
                              </div>
                          </div>
              </div>
          </div>
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <li><a href="#" class="ion-ios-arrow-back"></a></li>
              <li class="active"><span>1</span></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#" class="ion-ios-arrow-forward"></a></li>
            </ul>
          </div>
        </div>
      </div>
      </div>
  </section> -->


<%- include('template/footer') %>